/* Estilo para las subsecciones */
.subsecciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo para cada rectángulo */
.rectangulo {
    background-color: rgb(152, 193, 217);
    margin: 0 auto;
    color: rgb(41, 50, 65);
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transición para la transformación y sombra */
    width: 80%;
    max-width: 500px;
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    gap: 10px; /* Espacio entre el icono y el contenedor de texto */
}

/* Estilo para el contenedor del texto */
.rectangulo .texto {
    flex-grow: 1; /* Permite que el contenedor del texto ocupe todo el espacio disponible */
    text-align: center; /* Centra el texto dentro del contenedor */
}

/* Efecto hover para los rectángulos */
.rectangulo:hover {
    background-color: rgb(131, 177, 204);
    transform: translateY(-6px); /* Levanta el rectángulo hacia arriba */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar la sensación de profundidad */
}

/* Estilo para el icono dentro del rectángulo */
img.icono {
    width: 30px; /* Ajusta el tamaño del icono */
    height: 30px;
    flex-shrink: 0; /* Evita que el icono se reduzca */
}

/* Estilo para el Modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar el modal en la pantalla */
    z-index: 1; /* Asegurarnos de que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

/* Contenido del Modal */
.modal-content {
    background-color: #fff;
    color: black;
    line-height: 1.6;
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* Ajustar tamaño */
    max-width: 900px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    position: absolute; /* Para poder usar top y left */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste para centrar el modal completamente */
    max-height: 80%; /* Ajustar la altura máxima */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido excede la altura */
}

.salto {
    margin-left: 12px; /* Ajusta el valor según la cantidad de espacios deseados */
    font-style: oblique;
}

.salto1 {
    margin-left: 12px; /* Ajusta el valor según la cantidad de espacios deseados */
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content p {
    text-align: left;
}

pre {
    margin: 0 1px;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    background-color: rgb(231, 239, 245); /* Prueba sin fondo */
    padding: 10px;
    overflow-x: auto;                                                                                   
    overflow-y: hidden;
    white-space: pre;
    unicode-bidi: isolate;
    font-family: monospace;
    position: relative;
}

code {
    text-align: left;
    display: block;
    font-family: monospace;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: black;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilo para los inputs */
.ejercicio1 input{
    max-width: 200px;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.ejercicio1 input::placeholder {
    font-size: 12px; /* Cambia el tamaño de la fuente */
}

.ejercicio1 input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo para el botón */
.ejercicio1 button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ejercicio1 button:hover {
    background-color: #0056b3;
}

.ejercicio1 button:focus {
    outline: none;
}

#resultado1 {
    text-align: center;
    font-weight: bold;
}

h4{
    font-style: oblique;
    font-size: 12px;
    text-align: left;
}

#resultado2 {
    text-align: left;
    font-weight: bold;
}

#resultado {
    text-align: center;
    font-weight: bold;
}

#resultadoEmpleado{
    text-align: center;
    font-weight: bold;
}


@media (min-width: 768px) {
    pre {
        margin: 0 20px;
    }
}